@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
  font-family: 'Family';
  src: url('./fonts/family_guy.TTF'); /* IE9 Compat Modes */

}
body {
  /* background-image: url(../img/main.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #039ad9
}
#my-canvas {
  background-color: lightgray;
}

#start-btn, #restart-btn, #restart-btn1 {
  background-color: #f8c647;
  color: #c50e43;
  padding: 20px;
  font-size: 26px;
  margin-top: 40px;
  border-radius: 30px;
  width: 340px;
  border-style: 1px;
  font-family: 'Anton', sans-serif;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

/* hide canvas & gameover screen elements at the start */

#my-canvas {
  display: none;
}

#gameover-screen {
  display: none;
}

#win-screen {
  display: none;
}

h1, h2 {
  font-family: 'Anton', sans-serif;
  font-size: 34px;
  color: white;
}

#score {
  display: none;
}
#splash-screen h3 {
  font-family: Family;
  font-size: 80px;
  color: #f8c647;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


